{% extends 'main/base.html' %}
{% block title %}
    Services List
{% endblock %}
{% block content %}
    <p class="title">Services</p>
    {% if user.is_company %}
        <a class="create_service" href="/services/create"> Create Service</a>
    {% endif %}
    <div class='services_list'>
        {% if services %}
            {% for service in services %}
                <div >
                    <div class='service_list_info'>
                        <li>
                            <a href="/services/{{service.id}}">{{ service.name }}</a>
                            ({{ service.field }})
                             - {{ service.price_hour }}€/hour 
                            <p style="float: right; margin: 0;">
                                by <a href="/company/{{ service.company.user.username }}">{{ service.company.user.username }}</a>
                            </p> 
                            <br>
                            Times requested: {{ service.times_requested }}
                            <br>
                            Description: {{ service.description }}
                        </li>
                    </div>
                </div>
                {% if forloop.counter != services.all|length %}
                    <div class="line"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>Sorry No services available yet</h2>
        {% endif %}
     </div>
{% endblock %}
